<div class="container">
        <h2>Admin Management</h2>
</div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" ui-sref="/home" data-target="home">Home</a></li>
            <li><a data-toggle="tab" ui-sref="/dichvu" data-target="dichvu">Service Management</a></li>
            <li><a data-toggle="tab" ui-sref="/tendiadiem" data-target="tendiadiem">Places Management</a></li>
            <li><a data-toggle="tab" ui-sref="/taikhoan" data-target="taikhoan">User Management</a></li>
            <li><a data-toggle="tab" ui-sref="/binhluan" data-target="binhluan">Comment Management</a></li>
            <li><button type="button" class="btn btn-info" ui-sref="/" data-target="">Log Out</button></li>
        </ul> 
        
    <div class="tab-pane fade in active">
        <div class="container" ng-controller="tendiadiemController">
                <div class="col-xs-6">
                    <h2>Places Management</h2>
                    <p>In this Page, you can Manage all of places</p>
                    <fieldset>
                       
                            <div class="col-xs-6 col-sm-4">
                                <input type="text" class="form-control" id="tID" ng-model="text.MaTenDiaDiem" required placeholder="Place ID">
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="text" class="form-control" ng-model="text.TenDiaDiem1" required placeholder="Place Name">
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                 <button type="button" id="btnadd" ng-click="addtendiadiem()" class="btn btn-primary">Add</button>
                                <button type="button" id="btnupdate" ng-click="updatetendiadiem()" class="btn btn-success">Update</button>
                            </div>
                        </fieldset>
                        <table class="table">
                            <thread>
                                <tr>
                                    <th>Place ID</th>
                                    <th>Name of Place</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr ng-repeat="tendiadiem in tendiadiems">
                                    <td>{{tendiadiem.MaTenDiaDiem}}</td>
                                    <td>{{tendiadiem.TenDiaDiem1}}</td>
                                    <td><button type="button" ng-click="deletetendiadiem(tendiadiem.MaTenDiaDiem)" class="btn btn-danger">Delete</button></td>
                                    <td><button type="button" ng-click="edittendiadiem(tendiadiem.MaTenDiaDiem)" class="btn btn-primary">Edit</button></td>
                                </tr>
                            </tbody>

                        </table>
</div>
</div>
</div>
</div>
</div>