<div class="container">
        <h2>Admin Management</h2>
</div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" ui-sref="/home" data-target="home">Home</a></li>
            <li><a data-toggle="tab" ui-sref="/dichvu" data-target="dichvu">Service Management</a></li>
            <li><a data-toggle="tab" ui-sref="/tendiadiem" data-target="tendiadiem">Places Management</a></li>
            <li><a data-toggle="tab" ui-sref="/taikhoan" data-target="taikhoan">User Management</a></li>
            <li><a data-toggle="tab" ui-sref="/binhluan" data-target="binhluan">Comment Management</a></li>
            <li><button type="button" class="btn btn-info" ui-sref="/" data-target="">Log Out</button></li>
        </ul> 
       
    <div class="tab-pane fade in active">
        <div class="container" ng-controller="dichvuController">
                <div class="col-xs-6">
                    <h2>Service Management</h2>
                    <p>In this Page, you can Manage all of thing relate about Service of Places</p>
                    <fieldset>
                       
                            <div class="col-xs-6 col-sm-4">
                                <input type="text" class="form-control" id="tID" ng-model="text.ID" required placeholder="Service ID">
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="text" class="form-control" ng-model="text.Name" required placeholder="Service Name">
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                 <button type="button" id="btnadd" ng-click="adddichvu()" class="btn btn-primary">Add</button>
                                <button type="button" id="btnupdate" ng-click="updatedichvu()" class="btn btn-success">Update</button>
                            </div>
                        </fieldset>
                        <table class="table">
                            <thread>
                                <tr>
                                    <th>Service ID</th>
                                    <th>Name of Service</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr ng-repeat="dichvu in dichvus">
                                    <td>{{dichvu.ID}}</td>
                                    <td>{{dichvu.Name}}</td>
                                    <td><button type="button" ng-click="deletedichvu(dichvu.ID)" class="btn btn-danger">Delete</button></td>
                                    <td><button type="button" ng-click="editdichvu(dichvu.ID)" class="btn btn-primary">Edit</button></td>
                                </tr>
                            </tbody>

                        </table>
</div>
</div>
</div>
</div>
</div>
