<!DOCTYPE html>
<html>
<head>
    <title>Admin Management</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<!--  -->
<body ng-app="Appdichvu">
    <!--  -->
    <div class="container">
        <h2>Admin Management</h2>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#menu1">Service Management</a></li>
            <li><a data-toggle="tab" href="#menu2">Places Management</a></li>
            <li><a data-toggle="tab" href="#menu3">User Management</a></li>
            <li><a data-toggle="tab" href="#menu4">Comment Management</a></li>
        </ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
     <div class="container">
<div class="col-xs-6">
    <h2>Home Page of Management</h2>
<p>In this Page, you can Manage all of thing relate about Places, Service of Places, User or a lots of comments of user</p>
<ul class="fa-ul">
    <li><i class="fa fa-heart" aria-hidden="true"></i> Admin can add, delete, update any place that user want to see or it's not appear in the present.</li>
    <li><i class="fa fa-heart" aria-hidden="true"></i> Admin can add or delete or update any Service.</li>
    <li><i class="fa fa-heart" aria-hidden="true"></i> Admin can approve or delete any comment that have cultural violation.</li>
    <li><i class="fa fa-heart" aria-hidden="true"></i> Admin can manage a lots of username in the system by delete it when it have problem.</li>
</ul>
</div>
</div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container" ng-controller="dichvuController">
                <div class="col-xs-6">
                    <h2>Service Management</h2>
                    <p>In this Page, you can Manage all of thing relate about Service of Places</p>
                    <fieldset>
                       
                            <div class="col-xs-6 col-sm-4">
                                <input type="text" class="form-control" id="tID" ng-model="text.ID" required placeholder="Service ID">
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                <input type="text" class="form-control" ng-model="text.Name" required placeholder="Service Name">
                            </div>
                            <div class="col-xs-6 col-sm-4">
                                 <button type="button" id="btnadd" ng-click="adddichvu()" class="btn btn-primary">Add</button>
                                <button type="button" id="btnupdate" ng-click="updatedichvu()" class="btn btn-primary">Update</button>
                            </div>
                        </fieldset>
                        <table class="table">
                            <thread>
                                <tr>
                                    <th>Service ID</th>
                                    <th>Name of Service</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr ng-repeat="dichvu in dichvus">
                                    <td>{{dichvu.ID}}</td>
                                    <td>{{dichvu.Name}}</td>
                                    <td><button type="button" ng-click="deletedichvu(dichvu.ID)" class="btn btn-primary">Delete</button></td>
                                    <td><button type="button" ng-click="editdichvu(dichvu.ID)" class="btn btn-primary">Edit</button></td>
                                </tr>
                            </tbody>

                        </table>
</div>
            </div>
    </div>
       <div id="menu3" class="tab-pane fade">
      <div class="container" ng-controller="taikhoanController">
<div class="col-xs-6">
    <h2>User Management</h2>
<p>In this Page, you can Manage all of user</p>
<table class="table">
<thread>
<tr>
<th>Email</th>
<th>Last Name</th>
<th>First Name</th>
<th></th>
</tr>
</thread>
<tbody>
        <tr ng-repeat = "taikhoan in taikhoans">
            <td>{{taikhoan.Email}}</td>
            <td>{{taikhoan.LastName}}</td>
            <td>{{taikhoan.FirtName}}</td>
            <td><button type="button" ng-click="deletetaikhoan(taikhoan.Email)" class="btn btn-primary">Delete</button></td>
        </tr>
</tbody>

</table>
</div>
</div>
    </div>
        </div>
    </div>
</body>
</html>

<script src="dichvu.js"></script>


