USE [CityTravel]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[MaDuLieu] [int] NULL,
	[MaBinhLuan] [varchar](20) NOT NULL,
	[Email] [varchar](50) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_BINHLUAN_1] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIET_DULIEU]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_DULIEU](
	[MaDuLieu] [int] NOT NULL,
	[MaChiTiet] [int] NOT NULL,
 CONSTRAINT [CHITIET_DULIEU$MaDuLieu] PRIMARY KEY CLUSTERED 
(
	[MaDuLieu] ASC,
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDICHVU]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDICHVU](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[GiaTien] [int] NULL,
	[ChuThich] [ntext] NULL,
 CONSTRAINT [CHITIETDICHVU$MaChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[Email] [varchar](50) NOT NULL,
	[MaTenDiaDiem] [int] NOT NULL,
	[DanhGia] [float] NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[MaTenDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](64) NULL,
	[Hinh] [varchar](500) NULL,
 CONSTRAINT [DICHVU$MaDichVu] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DULIEU]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DULIEU](
	[MaDuLieu] [int] IDENTITY(1,1) NOT NULL,
	[MaDichVu] [int] NULL,
	[MaTenDiaDiem] [int] NULL,
	[SoNha] [nvarchar](8) NULL,
	[MaDuong] [int] NULL,
	[MaPhuong] [int] NULL,
	[MaQuanHuyen] [int] NULL,
	[MaTinhThanh] [int] NULL,
	[KinhDo] [float] NULL,
	[ViDo] [float] NULL,
	[ChuThich] [ntext] NULL,
	[DanhGia] [int] NULL,
 CONSTRAINT [DULIEU$MaDuLieu] PRIMARY KEY CLUSTERED 
(
	[MaDuLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DUONG]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUONG](
	[MaDuong] [int] IDENTITY(1,1) NOT NULL,
	[TenDuong] [nvarchar](64) NULL,
 CONSTRAINT [DUONG$MaDuong] PRIMARY KEY CLUSTERED 
(
	[MaDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHUONG]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONG](
	[MaPhuong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuong] [nvarchar](64) NULL,
 CONSTRAINT [PHUONG$MaPhuong] PRIMARY KEY CLUSTERED 
(
	[MaPhuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANHUYEN]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANHUYEN](
	[MaQuanHuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuanHuyen] [nvarchar](64) NULL,
 CONSTRAINT [QUANHUYEN$MaQuanHuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuanHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Email] [varchar](50) NOT NULL,
	[MatKhau] [varchar](20) NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](500) NULL,
	[Hinh] [varchar](500) NULL,
 CONSTRAINT [PK_TAIKHOAN_1] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TENDIADIEM]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TENDIADIEM](
	[MaTenDiaDiem] [int] IDENTITY(1,1) NOT NULL,
	[TenDiaDiem] [nvarchar](128) NULL,
 CONSTRAINT [TENDIADIEM$MaTenDiaDiem] PRIMARY KEY CLUSTERED 
(
	[MaTenDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINHTHANH]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTHANH](
	[MaTinhThanh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](64) NULL,
 CONSTRAINT [TINHTHANH$MaTinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUKHOADIADIEM]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKHOADIADIEM](
	[MaTuKhoaTenDiaDiem] [int] IDENTITY(1,1) NOT NULL,
	[TuKhoaTenDiaDiem] [nvarchar](128) NULL,
	[MaTenDiaDiem] [int] NULL,
 CONSTRAINT [TUKHOADIADIEM$MaTuKhoaTenDiaDiem] PRIMARY KEY CLUSTERED 
(
	[MaTuKhoaTenDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUKHOADICHVU]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKHOADICHVU](
	[MaTuKhoaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenTuKhoaDichVu] [nvarchar](64) NULL,
	[MaDichVu] [int] NULL,
 CONSTRAINT [TUKHOADICHVU$MaTuKhoaDichVu] PRIMARY KEY CLUSTERED 
(
	[MaTuKhoaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUKHOADUONG]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKHOADUONG](
	[MaTuKhoaDuong] [int] IDENTITY(1,1) NOT NULL,
	[TuKhoaDuong] [nvarchar](64) NULL,
	[MaDuong] [int] NULL,
 CONSTRAINT [TUKHOADUONG$MaTuKhoaDuong] PRIMARY KEY CLUSTERED 
(
	[MaTuKhoaDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUKHOAPHUONG]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKHOAPHUONG](
	[MaTuKhoaPhuong] [int] IDENTITY(1,1) NOT NULL,
	[TuKhoaPhuong] [nvarchar](64) NULL,
	[MaPhuong] [int] NULL,
 CONSTRAINT [TUKHOAPHUONG$MaTuKhoaPhuong] PRIMARY KEY CLUSTERED 
(
	[MaTuKhoaPhuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUKHOAQUANHUYEN]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKHOAQUANHUYEN](
	[MaTuKhoaQuanHuyen] [int] IDENTITY(1,1) NOT NULL,
	[TuKhoaQuanHuyen] [nvarchar](64) NULL,
	[MaQuanHuyen] [int] NULL,
 CONSTRAINT [TUKHOAQUANHUYEN$MaTuKhoaQuanHuyen] PRIMARY KEY CLUSTERED 
(
	[MaTuKhoaQuanHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUKHOATINHTHANH]    Script Date: 24-Nov-16 5:31:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUKHOATINHTHANH](
	[MaTuKhoaTinhThanh] [int] IDENTITY(1,1) NOT NULL,
	[TuKhoaTinhThanh] [nvarchar](64) NULL,
	[MaTinhThanh] [int] NULL,
 CONSTRAINT [TUKHOATINHTHANH$MaTuKhoaTinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTuKhoaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BINHLUAN] ([MaDuLieu], [MaBinhLuan], [Email], [NoiDung], [ThoiGian], [TrangThai]) VALUES (163, N'1', N'NguyenThaiAnh', N'tratavassad', CAST(N'2016-01-03 12:04:08.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CHITIETDICHVU] ON 

INSERT [dbo].[CHITIETDICHVU] ([MaChiTiet], [Ten], [GiaTien], [ChuThich]) VALUES (1, N'Phòng đặc biệt (sáng)', 40000, NULL)
INSERT [dbo].[CHITIETDICHVU] ([MaChiTiet], [Ten], [GiaTien], [ChuThich]) VALUES (2, N'Phòng đặc biệt (tối)', 80000, NULL)
INSERT [dbo].[CHITIETDICHVU] ([MaChiTiet], [Ten], [GiaTien], [ChuThich]) VALUES (3, N'Phòng nhỏ (lớn)', 40000, NULL)
GO
SET IDENTITY_INSERT [dbo].[CHITIETDICHVU] OFF
INSERT [dbo].[DANHGIA] ([Email], [MaTenDiaDiem], [DanhGia]) VALUES (N'NguyenThaiAnh', 1050, 4)
INSERT [dbo].[DANHGIA] ([Email], [MaTenDiaDiem], [DanhGia]) VALUES (N'NguyenTuanAnh', 1050, 5)
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [Hinh]) VALUES (1, N'Bệnh viện', NULL)
INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [Hinh]) VALUES (2, N'Trường học', NULL)
INSERT [dbo].[DICHVU] ([MaDichVu], [TenDichVu], [Hinh]) VALUES (3, N'Quán café', NULL)
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
SET IDENTITY_INSERT [dbo].[DULIEU] ON 

INSERT [dbo].[DULIEU] ([MaDuLieu], [MaDichVu], [MaTenDiaDiem], [SoNha], [MaDuong], [MaPhuong], [MaQuanHuyen], [MaTinhThanh], [KinhDo], [ViDo], [ChuThich], [DanhGia]) VALUES (163, 3, 2782, N'47', 950, 221, 34, 16, 106.63623046875, 10.7694282531738, N'', NULL)
INSERT [dbo].[DULIEU] ([MaDuLieu], [MaDichVu], [MaTenDiaDiem], [SoNha], [MaDuong], [MaPhuong], [MaQuanHuyen], [MaTinhThanh], [KinhDo], [ViDo], [ChuThich], [DanhGia]) VALUES (168, 3, 3076, N'286', 874, 244, 34, 16, 106.627990722656, 10.7930603027344, N'(08) 3612 0216', NULL)
INSERT [dbo].[DULIEU] ([MaDuLieu], [MaDichVu], [MaTenDiaDiem], [SoNha], [MaDuong], [MaPhuong], [MaQuanHuyen], [MaTinhThanh], [KinhDo], [ViDo], [ChuThich], [DanhGia]) VALUES (170, 3, 1226, N'45', 950, 250, 34, 16, 106.634712219238, 10.7694044113159, N'', NULL)
SET IDENTITY_INSERT [dbo].[DULIEU] OFF
SET IDENTITY_INSERT [dbo].[DUONG] ON 

INSERT [dbo].[DUONG] ([MaDuong], [TenDuong]) VALUES (697, N'10')
INSERT [dbo].[DUONG] ([MaDuong], [TenDuong]) VALUES (698, N'103')
INSERT [dbo].[DUONG] ([MaDuong], [TenDuong]) VALUES (699, N'14')
GO
SET IDENTITY_INSERT [dbo].[DUONG] OFF
SET IDENTITY_INSERT [dbo].[PHUONG] ON 

INSERT [dbo].[PHUONG] ([MaPhuong], [TenPhuong]) VALUES (136, N'1')
INSERT [dbo].[PHUONG] ([MaPhuong], [TenPhuong]) VALUES (137, N'10')
INSERT [dbo].[PHUONG] ([MaPhuong], [TenPhuong]) VALUES (138, N'11')
GO
SET IDENTITY_INSERT [dbo].[PHUONG] OFF
SET IDENTITY_INSERT [dbo].[QUANHUYEN] ON 

INSERT [dbo].[QUANHUYEN] ([MaQuanHuyen], [TenQuanHuyen]) VALUES (26, N'1')
INSERT [dbo].[QUANHUYEN] ([MaQuanHuyen], [TenQuanHuyen]) VALUES (33, N'10')
INSERT [dbo].[QUANHUYEN] ([MaQuanHuyen], [TenQuanHuyen]) VALUES (49, N'11')
SET IDENTITY_INSERT [dbo].[QUANHUYEN] OFF
INSERT [dbo].[TAIKHOAN] ([Email], [MatKhau], [Ho], [Ten], [SDT], [GioiTinh], [NgaySinh], [DiaChi], [Hinh]) VALUES (N'NguyenThaiAnh', N'123456', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TAIKHOAN] ([Email], [MatKhau], [Ho], [Ten], [SDT], [GioiTinh], [NgaySinh], [DiaChi], [Hinh]) VALUES (N'NguyenTuanAnh', N'123456', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TENDIADIEM] ON 

INSERT [dbo].[TENDIADIEM] ([MaTenDiaDiem], [TenDiaDiem]) VALUES (1050, N'ATM SeA Bank')
INSERT [dbo].[TENDIADIEM] ([MaTenDiaDiem], [TenDiaDiem]) VALUES (1057, N'ATM VIB')
INSERT [dbo].[TENDIADIEM] ([MaTenDiaDiem], [TenDiaDiem]) VALUES (1217, N'Cafe - Karaoke Biển Nhớ')
GO
SET IDENTITY_INSERT [dbo].[TENDIADIEM] OFF
SET IDENTITY_INSERT [dbo].[TINHTHANH] ON 

INSERT [dbo].[TINHTHANH] ([MaTinhThanh], [TenTinhThanh]) VALUES (16, N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[TINHTHANH] OFF
SET IDENTITY_INSERT [dbo].[TUKHOADIADIEM] ON 

INSERT [dbo].[TUKHOADIADIEM] ([MaTuKhoaTenDiaDiem], [TuKhoaTenDiaDiem], [MaTenDiaDiem]) VALUES (62326, N'ATM Ficom Bank', 3077)
INSERT [dbo].[TUKHOADIADIEM] ([MaTuKhoaTenDiaDiem], [TuKhoaTenDiaDiem], [MaTenDiaDiem]) VALUES (62327, N'ATMFicomBank', 3077)
INSERT [dbo].[TUKHOADIADIEM] ([MaTuKhoaTenDiaDiem], [TuKhoaTenDiaDiem], [MaTenDiaDiem]) VALUES (62358, N'ATM Sea Bank', 1050)
SET IDENTITY_INSERT [dbo].[TUKHOADIADIEM] OFF
SET IDENTITY_INSERT [dbo].[TUKHOADICHVU] ON 

INSERT [dbo].[TUKHOADICHVU] ([MaTuKhoaDichVu], [TenTuKhoaDichVu], [MaDichVu]) VALUES (373, N'truog', 2)
INSERT [dbo].[TUKHOADICHVU] ([MaTuKhoaDichVu], [TenTuKhoaDichVu], [MaDichVu]) VALUES (374, N'truong', 2)
INSERT [dbo].[TUKHOADICHVU] ([MaTuKhoaDichVu], [TenTuKhoaDichVu], [MaDichVu]) VALUES (375, N'truong hoc', 2)
SET IDENTITY_INSERT [dbo].[TUKHOADICHVU] OFF
SET IDENTITY_INSERT [dbo].[TUKHOADUONG] ON 

INSERT [dbo].[TUKHOADUONG] ([MaTuKhoaDuong], [TuKhoaDuong], [MaDuong]) VALUES (1523, N'dinh tien hoang', 855)
INSERT [dbo].[TUKHOADUONG] ([MaTuKhoaDuong], [TuKhoaDuong], [MaDuong]) VALUES (1524, N'dinhtienhoang', 855)
INSERT [dbo].[TUKHOADUONG] ([MaTuKhoaDuong], [TuKhoaDuong], [MaDuong]) VALUES (1527, N'hai ba trung', 928)
GO
SET IDENTITY_INSERT [dbo].[TUKHOADUONG] OFF
SET IDENTITY_INSERT [dbo].[TUKHOAPHUONG] ON 

INSERT [dbo].[TUKHOAPHUONG] ([MaTuKhoaPhuong], [TuKhoaPhuong], [MaPhuong]) VALUES (723, N'ben nghe', 170)
INSERT [dbo].[TUKHOAPHUONG] ([MaTuKhoaPhuong], [TuKhoaPhuong], [MaPhuong]) VALUES (724, N'bennghe', 170)
INSERT [dbo].[TUKHOAPHUONG] ([MaTuKhoaPhuong], [TuKhoaPhuong], [MaPhuong]) VALUES (725, N'ben thanh', 171)
GO
SET IDENTITY_INSERT [dbo].[TUKHOAPHUONG] OFF
SET IDENTITY_INSERT [dbo].[TUKHOAQUANHUYEN] ON 

INSERT [dbo].[TUKHOAQUANHUYEN] ([MaTuKhoaQuanHuyen], [TuKhoaQuanHuyen], [MaQuanHuyen]) VALUES (193, N'1', 26)
INSERT [dbo].[TUKHOAQUANHUYEN] ([MaTuKhoaQuanHuyen], [TuKhoaQuanHuyen], [MaQuanHuyen]) VALUES (194, N'q 1', 26)
INSERT [dbo].[TUKHOAQUANHUYEN] ([MaTuKhoaQuanHuyen], [TuKhoaQuanHuyen], [MaQuanHuyen]) VALUES (195, N'q mot', 26)
GO
SET IDENTITY_INSERT [dbo].[TUKHOAQUANHUYEN] OFF
SET IDENTITY_INSERT [dbo].[TUKHOATINHTHANH] ON 

INSERT [dbo].[TUKHOATINHTHANH] ([MaTuKhoaTinhThanh], [TuKhoaTinhThanh], [MaTinhThanh]) VALUES (71, N'ho chi minh', 16)
INSERT [dbo].[TUKHOATINHTHANH] ([MaTuKhoaTinhThanh], [TuKhoaTinhThanh], [MaTinhThanh]) VALUES (72, N'hồ chí minh', 16)
INSERT [dbo].[TUKHOATINHTHANH] ([MaTuKhoaTinhThanh], [TuKhoaTinhThanh], [MaTinhThanh]) VALUES (73, N'hcm', 16)
SET IDENTITY_INSERT [dbo].[TUKHOATINHTHANH] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [DUONG$TenDuong]    Script Date: 24-Nov-16 5:31:37 PM ******/
ALTER TABLE [dbo].[DUONG] ADD  CONSTRAINT [DUONG$TenDuong] UNIQUE NONCLUSTERED 
(
	[TenDuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PHUONG$TenPhuong]    Script Date: 24-Nov-16 5:31:37 PM ******/
ALTER TABLE [dbo].[PHUONG] ADD  CONSTRAINT [PHUONG$TenPhuong] UNIQUE NONCLUSTERED 
(
	[TenPhuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [QUANHUYEN$TenQuanHuyen]    Script Date: 24-Nov-16 5:31:37 PM ******/
ALTER TABLE [dbo].[QUANHUYEN] ADD  CONSTRAINT [QUANHUYEN$TenQuanHuyen] UNIQUE NONCLUSTERED 
(
	[TenQuanHuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_DULIEU] FOREIGN KEY([MaDuLieu])
REFERENCES [dbo].[DULIEU] ([MaDuLieu])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_DULIEU]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[CHITIET_DULIEU]  WITH CHECK ADD  CONSTRAINT [CHITIET_DULIEU$MaChiTiet] FOREIGN KEY([MaChiTiet])
REFERENCES [dbo].[CHITIETDICHVU] ([MaChiTiet])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_DULIEU] CHECK CONSTRAINT [CHITIET_DULIEU$MaChiTiet]
GO
ALTER TABLE [dbo].[CHITIET_DULIEU]  WITH CHECK ADD  CONSTRAINT [CHITIET_DULIEU$MaDuLieu1] FOREIGN KEY([MaDuLieu])
REFERENCES [dbo].[DULIEU] ([MaDuLieu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIET_DULIEU] CHECK CONSTRAINT [CHITIET_DULIEU$MaDuLieu1]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_TAIKHOAN]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_TENDIADIEM] FOREIGN KEY([MaTenDiaDiem])
REFERENCES [dbo].[TENDIADIEM] ([MaTenDiaDiem])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_TENDIADIEM]
GO
ALTER TABLE [dbo].[DULIEU]  WITH CHECK ADD  CONSTRAINT [DULIEU$MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICHVU] ([MaDichVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DULIEU] CHECK CONSTRAINT [DULIEU$MaDichVu]
GO
ALTER TABLE [dbo].[DULIEU]  WITH CHECK ADD  CONSTRAINT [DULIEU$MaDuong] FOREIGN KEY([MaDuong])
REFERENCES [dbo].[DUONG] ([MaDuong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DULIEU] CHECK CONSTRAINT [DULIEU$MaDuong]
GO
ALTER TABLE [dbo].[DULIEU]  WITH CHECK ADD  CONSTRAINT [DULIEU$MaPhuong] FOREIGN KEY([MaPhuong])
REFERENCES [dbo].[PHUONG] ([MaPhuong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DULIEU] CHECK CONSTRAINT [DULIEU$MaPhuong]
GO
ALTER TABLE [dbo].[DULIEU]  WITH CHECK ADD  CONSTRAINT [DULIEU$MaQuanHuyen] FOREIGN KEY([MaQuanHuyen])
REFERENCES [dbo].[QUANHUYEN] ([MaQuanHuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DULIEU] CHECK CONSTRAINT [DULIEU$MaQuanHuyen]
GO
ALTER TABLE [dbo].[DULIEU]  WITH CHECK ADD  CONSTRAINT [DULIEU$MaTenDiaDiem] FOREIGN KEY([MaTenDiaDiem])
REFERENCES [dbo].[TENDIADIEM] ([MaTenDiaDiem])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DULIEU] CHECK CONSTRAINT [DULIEU$MaTenDiaDiem]
GO
ALTER TABLE [dbo].[DULIEU]  WITH CHECK ADD  CONSTRAINT [DULIEU$MaTinhThanh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TINHTHANH] ([MaTinhThanh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DULIEU] CHECK CONSTRAINT [DULIEU$MaTinhThanh]
GO
ALTER TABLE [dbo].[TUKHOADIADIEM]  WITH CHECK ADD  CONSTRAINT [TUKHOADIADIEM$MaTenDiaDiem] FOREIGN KEY([MaTenDiaDiem])
REFERENCES [dbo].[TENDIADIEM] ([MaTenDiaDiem])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUKHOADIADIEM] CHECK CONSTRAINT [TUKHOADIADIEM$MaTenDiaDiem]
GO
ALTER TABLE [dbo].[TUKHOADICHVU]  WITH CHECK ADD  CONSTRAINT [TUKHOADICHVU$MaDichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICHVU] ([MaDichVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUKHOADICHVU] CHECK CONSTRAINT [TUKHOADICHVU$MaDichVu]
GO
ALTER TABLE [dbo].[TUKHOADUONG]  WITH CHECK ADD  CONSTRAINT [TUKHOADUONG$MaDuong] FOREIGN KEY([MaDuong])
REFERENCES [dbo].[DUONG] ([MaDuong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUKHOADUONG] CHECK CONSTRAINT [TUKHOADUONG$MaDuong]
GO
ALTER TABLE [dbo].[TUKHOAPHUONG]  WITH CHECK ADD  CONSTRAINT [TUKHOAPHUONG$MaPhuong] FOREIGN KEY([MaPhuong])
REFERENCES [dbo].[PHUONG] ([MaPhuong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUKHOAPHUONG] CHECK CONSTRAINT [TUKHOAPHUONG$MaPhuong]
GO
ALTER TABLE [dbo].[TUKHOAQUANHUYEN]  WITH CHECK ADD  CONSTRAINT [TUKHOAQUANHUYEN$MaQuanHuyen] FOREIGN KEY([MaQuanHuyen])
REFERENCES [dbo].[QUANHUYEN] ([MaQuanHuyen])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUKHOAQUANHUYEN] CHECK CONSTRAINT [TUKHOAQUANHUYEN$MaQuanHuyen]
GO
ALTER TABLE [dbo].[TUKHOATINHTHANH]  WITH CHECK ADD  CONSTRAINT [TUKHOATINHTHANH$MaTinhThanh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TINHTHANH] ([MaTinhThanh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUKHOATINHTHANH] CHECK CONSTRAINT [TUKHOATINHTHANH$MaTinhThanh]
GO
