<div class="container">
<div class="col-xs-6">
	<h2>Comment Management</h2>
<p>In this Page, you can Manage all of comment of User </p>
<table class="table">
<thread>
<tr>
<th>Date comment</th>
<th>Time comment</th>
<th>Comment</th>
<th>Action</th>
</tr>
</thread>
<tbody>
<tr>
<td></td>
</tr>
</tbody>

</table>
</div>
</div>
