<div class="container">
<div class="col-xs-6">
	<h2>Places Management</h2>
<p>In this Page, you can Manage all of place </p>
<table class="table">
<thread>
<tr>
<th>Place ID</th>
<th>Name of Place</th>
<th>Address</th>
<th>Phone Number</th>
</tr>
</thread>
<tbody>
<tr>
<td></td>
</tr>
</tbody>

</table>
</div>
</div>
