<div class="container">
<div class="col-xs-6">
	<h2>Service Management</h2>
<p>In this Page, you can Manage all of thing relate about Service of Places</p>
<table class="table">
<thread>
<tr>
<th>Service ID</th>
<th>Name of Service</th>
</tr>
</thread>
<tbody>
	<tr>
	<td></td>
		
	</tr>
</tbody>

</table>
</div>
</div>
